.grip {
    width:20px;
	height:15px;
	margin-top:-3px;
	background:gray;
	border: 1px solid gray;
	opacity: 0.5;
	border-radius: 20%;
	margin-left:-5px;
	margin-top:-7px;
	position:relative;
	z-index:88;
	cursor:col-resize;
}

td {
	padding: 0;
}