.droppableCaption {
    margin-bottom: 0;
    font-variant: small-caps;
}

.droppableArea {
    border-radius: 0.25rem;
    margin: -5px 0 10px 0;
    padding: 7px 20px;
}
.draggableItem {
    margin: 5px;
    background-color: #ffffff;
}